<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404</title>
    <link rel="shortcut icon" href="#" type="image/x-icon">
</head>
<body>
    <h1><%= title %></h1>
    <p><%= description %></p>
    <!-- terminanr de configurar e 404 -->
    <!-- https://www.youtube.com/watch?v=1cHUZQFb4bo&t=437s -->
</body>
</html>