<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Document</title>
<link rel="shortcut icon" href="./img/logo_empresa_icon.svg" type="image/x-icon">
<link rel="stylesheet" href="./css/style.css">

<header>
    <nav>
        <li><a href="http://">menu option</a></li>
    </nav>
</header>

<main>
    <h1>Pagina principal <mark> > index.html</mark></h1>
    <section>
        <h2>Section</h2>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Odit, blanditiis.</p>
    </section>
</main>

<aside></aside>
<footer>
    <small>Lorem ipsum dolor sit amet consectetur.</small>
</footer>

<!-- Falta configurar: Loading module from “http://localhost:3000/script.js” was blocked because of a disallowed MIME type (“text/html”). -->
<!-- <script type="module" src="./script.js"></script> -->