<!DOCTYPE html>
<html lang="en">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Trabajo integrador registro de usuarios y control de sesiones">
<meta name="author" content="Mauricio Cox">
<title>
    <%= title %>
</title>
<link rel="shortcut icon" href="./img/logo_empresa_icon.svg" type="image/x-icon">
<link rel="stylesheet" href="./css/bootstrap.min.css">
<link rel="stylesheet" href="./css/style.css">